<!-- _includes/head-custom.html -->

<!-- ==============================
     SEO 优化
================================== -->
<meta name="description" content="SQL Audit Cop - Your Intelligent SQL Audit Assistant in IntelliJ IDEA">
<meta name="keywords" content="SQL Audit, JetBrains plugin, SQL Rule, MySQl">

<!-- ==============================
     视图端口设置（移动设备优化）
================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- ==============================
     社交媒体分享优化（Open Graph）
================================== -->
<meta property="og:title" content="SQL Audit Cop - Your Intelligent SQL Audit Assistant in IntelliJ IDEA">
<meta property="og:description" content="SQL Audit Cop is a powerful plugin designed specifically for the JetBrains series of IDEs (such as IntelliJ IDEA), aimed at simplifying and optimizing your SQL auditing process. Whether you are a database administrator, backend developer, or data analyst, SQL Audit Cop can help you enhance work efficiency and ensure code quality.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://nova-tech-co.github.io/SQL-COP/">
<meta property="og:site_name" content="SQL Audit Cop ">

<!-- ==============================
     Google Analytics
================================== -->

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L4H3K7PSDR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L4H3K7PSDR');
</script>
